.button {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  cursor: pointer;
  font-size: 1rem;
  /* padding: 0.5rem; */
}

/* TODO - set up a default style? */

.cart {
  background-color: var(--frog-dk);
    border: 0.125rem solid var(--frog-black);
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-text);
  font-size: 1rem;
    padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.cart:hover {
  background-color: var(--gold);
  border: 0.125rem solid var(--frog-black);
  color: var(--frog-black);
}

.paypalButton {
    /* PayPal Yellow? */
  background-color: #ffc439;
}

.cardButton {
    /* Credit Card Blue? */
  background-color: #0070f3;
  color: white;
}

.appleButton {
    /* Steve Jobs Black? */
  background-color: #000;
  color: white;
}

.cart:hover, .paypalButton:hover, .cardButton:hover, .appleButton:hover {
  transform: scale(1.05);
}

.cart:active, .paypalButton:active, .cardButton:active, .appleButton:active {
  transform: scale(0.95);
}

.incrementDecrementButton {
  height: 2rem;
  width: 2rem;
  background-color: var(--rose-dk);
  border-radius: 4px;
  color: var(--gold);
cursor: pointer;
font-family: var(--font-text);
font-size: 1.5rem;
}

.removeCartItem {
  display: block;
  width: 100%;
  background-color: var(--frog-black);
   border: 4px solid var(--gold-lt);
border-radius: 0.5rem;
  color: var(--gold-lt);
  cursor: pointer; 
 font-size: 1rem;

    padding: 0.75rem;
 
text-transform: uppercase;
}
