.button {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
}

/* TODO - set up a default style? */

.cart {
  padding: 0.5rem 1rem;
  background-color: var(--frog-dk);
    border: 0.125rem solid var(--frog-black);
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-text);
  font-size: 1rem;
  text-transform: uppercase;
}

.cart:hover {
  background-color: var(--gold);
  border: 0.125rem solid var(--frog-black);
  color: var(--frog-black);
  transform: scale(1.1);
}

.cart:active {
  transform: scale(0.9);
}
