.button {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: transparent; */
  cursor: pointer;
   font-family: var(--font-text);
  font-size: 1rem;
  /* padding: 0.25rem; */
}

.cart {
  background-color: var(--frog-dk);
  border: 0.125rem solid var(--frog-black);
  border-radius: 4px;
  color: var(--white);
  /* cursor: pointer; */
  /* font-family: var(--font-text); */
  font-size: 0.9rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.cart:hover {
  background-color: var(--gold);
  border: 0.125rem solid var(--frog-black);
  color: var(--frog-black);
}

/* NOTE - Don't use css variable colors (i.e., var) on the following three buttons, leave as is for future ease of cut & paste into other projects */

.paypalButton {
  /* PayPal Yellow? */
  background-color: #ffc439;
  color: var(--frog-black);
}

.cardButton {
  /* Credit Card Blue? */
  background-color: #0070f3;
  color: white;
}

.appleButton {
  /* Steve Jobs Black? */
  background-color: #000;
  color: white;
}

.incrementDecrementButton {
  height: 2rem;
  width: 2rem;
  background-color: var(--rose-dk);
  border: 0.125rem solid var(--rose-dk);
  border-radius: 4px;
  color: var(--gold);
  /* cursor: pointer; */
  /* font-family: var(--font-text); */
  font-size: 1.5rem;
}

.removeCartItem {
  display: block;
  width: 100%;
  background-color: var(--frog-black);
  border: 4px solid var(--gold-lt);
  border-radius: 0.5rem;
  color: var(--gold-lt);
  /* cursor: pointer; */
  /* font-size: 1rem; */
  font-weight: 800;
  /* padding: 0.5rem; */
  text-transform: uppercase;
}

/* .cart:hover, */
.paypalButton:hover,
.cardButton:hover,
.appleButton:hover,
.incrementDecrementButton:hover,
.removeCartItem:hover {
  transform: scale(1.05);
}

.cart:active,
.paypalButton:active,
.cardButton:active,
.appleButton:active,
.incrementDecrementButton:active,
.removeCartItem:active {
  transform: scale(0.95);
}
