.cardContainer {
  height: fit-content;
  width: var(--width-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 100px 5px var(--frog-dk);
  font-family: var(--font-text);
  padding: 0.5rem 0.25rem; 
}

.cardContainer h1 {
  color: var(--rose-dk);
  font-family: var(--font-title);
  font-size: 1.65rem;
  text-transform: capitalize;
}

.brand {
  font-family: var(--font-text);
  font-size: 1rem;
  font-style: italic;
  text-transform: lowercase;
}

.dinojama,
.jammyMart,
.mooshiFoo,
.plushies,
.spanko {
  font-size: 1.25rem;
  font-style: normal;
  text-transform: capitalize;
}

.dinojama {
  font-family: var(--font-dinojama);
}

.jammyMart {
  font-family: var(--font-jammy-mart);
}

.mooshiDoo {
  font-family: var(--font-mooshiDoo);
}

.plushies {
  font-family: var(--font-plushies);
}

.spanko {
  font-family: var(--font-spanko);
}

.imgContainer {
  display: flex;
}

.imgFront {
  height: 10rem;
  width: 10rem;
  background-color: white;
  cursor: pointer;
  object-fit: contain;
}

.smallSideImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}

.smallSideImg {
  height: 5rem;
  width: 5rem;
  background-color: white;
  cursor: pointer;
  object-fit: contain;
}

.detailsContainer,
.priceContainer,
.buttonContainer {
  background-color: var(--white);
  font-family: var(--font-text);
}

.detailsContainer {
  width: var(--width-main);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.priceContainer {
  width: var(--width-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--frog-black);
  font-family: var(--font-text);
  font-size: 1.25rem;
  margin: 0.5rem;
}

.priceSavings {
  background-color: var(--gold);
  border: 2px dashed var(--frog-black);
  border-radius: 4px;
  font-size: 1rem;
  font-style: italic;
  padding: 0.35rem;
}

.buttonContainer {
  width: var(--width-main);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.stockNumber,
.outOfStock,
.sizes,
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  flex-wrap: wrap;
  background-color: var(--rose-lt);
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
}

.outOfStock {
  font-style: italic;
}

.sizeItem {
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.sizeWarningMessage {
  height: fit-content;
  width: var(--width-main);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInOut 3s ease-in-out forwards;
  background-color: var(--gold-lt);
  border: 4px solid var(--rose-dk);
  border-radius: 4px;

  margin: 0.5rem;
  padding: 0.5rem;
}

.sizeWarningMessage p {
  color: var(--rose-dk);
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
