.cardContainer {
  /* height: fit-content; */
  height: 33rem;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 5px 5px 100px 5px var(--frog-dk);
  /* margin-bottom: 1rem; */
  padding: 1rem;
}

.cardContainer h1 {
  color: var(--rose-dk);
  font-family: var(--font-title);
  font-size: 2rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
}

.brand {
  font-family: var(--font-text);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  /* text-transform: capitalize; */
}

.dinojama,
.jammyMart,
.mooshiFoo,
.plushies,
.spanko {
  font-size: 1.125rem;
  text-transform: capitalize;
}

.dinojama {
  font-family: var(--font-dinojama);
}
.jammyMart {
  font-family: var(--font-jammy-mart);
}
.mooshiDoo {
  font-family: var(--font-mooshiDoo);
}
.plushies {
  font-family: var(--font-plushies);
}
.spanko {
  font-family: var(--font-spanko);
}

.imgContainer {
  display: flex;
}

.imgFront {
  height: 10rem;
  width: 10rem;
  background-color: white;
  cursor: pointer;
  object-fit: contain;
}

.smallSideImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--frog-white); */
  padding: 0.5rem;
}

.smallSideImg {
  height: 5rem;
  width: 5rem;
  background-color: white;
    cursor: pointer;
  object-fit: contain;
}

.detailsContainer,
.priceContainer, .buttonContainer {
  width: 18rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
  font-family: var(--font-text);
 
  /* margin: 1rem; */
  padding: 0.5rem;
}

.detailsContainer {

 font-size: 1rem;
}

.priceContainer {
    color: var(--frog-black);
     font-size: 1.25rem;
}


.stockNumber,
.outOfStock,
.sizes,
.rating {
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  flex-wrap: wrap;
  background-color: var(--rose-lt);
  border-radius: 1rem;
  /* font-family: var(--font-text);
  font-size: 1rem; */
  padding: 0.5rem;
  text-transform: capitalize;
}

.outOfStock {
  font-style: italic;
}

.sizeList {
  /* display: flex;
  gap: 0.125rem;
  flex-wrap: wrap;
  text-transform: uppercase; */
}

.sizeItem {
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
   border-radius: 50%;
  font-size: 0.8rem;
  font-weight: bold;
   padding: 0.125rem 0.25rem;
   /* text-align: center; */
  text-transform: uppercase;
  /* cursor: pointer; */
  /* transition: background-color 0.3s ease; */
}
