.cardContainer {
  height: fit-content;
  width: calc(var(--width-card) + 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--gold-lt);
  border-radius: 1rem;
  box-shadow: 5px 5px 100px 5px var(--gold);
  color: var(--frog-black);
  font-family: var(--font-text);
  padding: 0.5rem;
  text-transform: capitalize;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-family: var(--font-title);
  color: var(--rose-dk);
}

.availableQuantityInSize {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}

.brand {
  font-family: var(--font-text);
  font-style: italic;
  text-transform: lowercase;
}

.dinojama,
.jammyMart,
.mooshiFoo,
.plushies,
.spanko {
  font-style: normal;
  text-transform: capitalize;
}

.dinojama {
  font-family: var(--font-dinojama);
}

.jammyMart {
  font-family: var(--font-jammy-mart);
}

.mooshiDoo {
  font-family: var(--font-mooshiDoo);
}

.plushies {
  font-family: var(--font-plushies);
}

.spanko {
  font-family: var(--font-spanko);
}

.rowContainer {
  width: var(--width-main);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.colContainer {
  width: var(--width-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.imageContainer {
  height: 14.5rem;
  width: calc((var(--width-card) - 0.25rem) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
  border: 0.125rem  solid var(--gold);
  border-radius: 0.5rem;
  color: var(--frog-black);
  font-size: 0.9rem;
  object-fit: contain;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.image {
  height: 10rem;
  width: auto;
  object-fit: contain;
}

.sizeUppercase {
  text-transform: uppercase;
}

.price {
  color: var(--frog-dk);
  font-size: 1.25rem;
  font-weight: 800;
}

.priceSavings {
  font-size: 0.7rem;
}

.quantityContainer,
.priceContainer {
  height: 7rem;
  width: calc((var(--width-card) - 0.25rem) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 0.125rem  solid var(--gold);
  font-size: 1rem;
  font-weight: 800;
  padding: 0.25rem;
  text-transform: uppercase;
}

.quantityContainer {
  background: linear-gradient(0deg, var(--rose-lt), var(--gold-lt));
}

.priceContainer {
  background: linear-gradient(0deg, var(--frog-lt), var(--gold-lt));
}

.quantityControl {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: var(--rose-dk);
  font-size: 1.5rem;
}
