.cardContainer {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: var(--gold-lt);
  border-radius: 1rem;
  box-shadow: 5px 5px 100px 5px var(--gold);
  color: var(--frog-black);
  font-family: var(--font-text);
  padding: 1rem;
  text-transform: capitalize;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-family: var(--font-title);
  color: var(--rose-dk);
}

.availableQuantityInSize {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}

.brand {
  font-family: var(--font-text);
  font-style: italic;
  text-transform: lowercase;
  /* margin-top: 0.125rem; */
}

.dinojama,
.jammyMart,
.mooshiFoo,
.plushies,
.spanko {
  font-style: normal;
  text-transform: capitalize;
}

.dinojama {
  font-family: var(--font-dinojama);
}

.jammyMart {
  font-family: var(--font-jammy-mart);
}

.mooshiDoo {
  font-family: var(--font-mooshiDoo);
}

.plushies {
  font-family: var(--font-plushies);
}

.spanko {
  font-family: var(--font-spanko);
}

.rowContainer {
  display: flex;
  gap: 0.25rem;
}

.colContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  justify-content: space-between;
}

.imageContainer {
  height: fit-content;
  width: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
  border: 4px solid var(--gold-lt);
  border-radius: 0.5rem;
  color: var(--frog-black);
  font-size: 0.9rem;
  object-fit: contain;
  padding: 0.25rem;
}

.image {
  height: 9rem;
  width: auto;
}

.sizeUppercase {
  text-transform: uppercase;
}

.price {
  color: var(--frog-dk);
  font-size: 1.25rem;
  font-weight: 800;
}

.priceSavings {
  font-size: 0.7rem;
}

.quantityContainer,
.priceContainer {
  height: 5.85rem;
  width: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  border-radius: 0.5rem;
  border: 4px solid var(--gold-lt);
  font-size: 1rem;
  font-weight: 800;
  padding: 0.25rem;
  text-transform: uppercase;
}

.quantityContainer {
  background-color: var(--rose-lt);
}

.priceContainer {
  background-color: var(--frog-lt);
}

.quantityControl {
  height: fit-content;
  width: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--rose-dk);
  font-size: 1.5rem;
}
