.mainContainer {
  height: fit-content;
  max-width: 650px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: linear-gradient(0deg, var(--frog-white), var(--gold-lt));
  border-radius: 1rem;
  box-shadow: 5px 5px 100px 5px var(--frog-dk);
  padding: 1rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.titleContainer h1 {
  color: var(--rose-dk);
  font-family: var(--font-title);
  font-size: 1.5rem;
}

.titleContainer p {
  color: var(--frog-black);
  font-family: var(--font-text);
  font-size: 1.125rem;
       font-weight: 500;
}

.imgContainer {
  height: fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.imgContainer img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
}

.textContainer {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-family: var(--font-text);
}

.textContainer h2 {
  color: var(--rose-dk);
  font-family: var(--font-title);
  font-size: 1.125rem;
  text-align: left;
  text-transform: uppercase;
}

.textContainer h3 {
  color: var(--frog-dk);
  font-size: 1.125rem;

  text-align: left;
}

.textContainer p {
  color: var(--frog-black);
  font-size: 1.125rem;
     font-weight: 500;
  text-align: left;
}

.textContainer p:not(:last-child) {
  margin-bottom: 1rem;
}

.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}
