/* TODO - REORDER CSS */
.dropdown {
  display: inline-block;
  position: relative;
  color: var(--frog-black);
  font-family: var(--font-text);
}

.dropdownButton {
  width: 5rem;
  background: var(--frog-lt);
  border: 0.125rem solid var(--frog-black);
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.dropdownList {
  width: 5rem;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  margin-top: 0.3rem;
  padding: 0;
  text-transform: uppercase;
  z-index: 10;
}

.dropdownItem {
  cursor: pointer;
  padding: 0.5rem;
}

.dropdownItem:hover {
  background-color: var(--frog-lt);
}
