.mainContainer {
  /* max-height: 650px;
  max-width: 650px; */
  /* position: relative;
  top: 10rem; */
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, var(--frog-white), var(--frog-lt));
  border-radius: 1rem;
  box-shadow: 5px 5px 100px 5px var(--frog-dk);
  font-family: var(--font-title);
  margin: 1rem;
  padding: 1rem;
}

.title {
  color: var(--rose-dk);
  color: red;
    /* color: var(--frog-black); */
  font-family: var(--font-title);

}

.title p {
  font-size: 1.5rem;
}

.title h1 {
  /* font-size: 2.75rem; */
  font-size: 3rem;
  text-align: center;
}

.imgContainer {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgContainer img {
  height: 15rem;
  width: 15rem;
  /* height: 20rem;
  width: 20rem; */
  border-radius: 50%;
  box-shadow: 5px 5px 100px 5px var(--frog-white);
  margin: 1rem;
  object-fit: contain;
}

.imgContainer img:hover {
  transform: scale(1.1);
}

.imgContainer p {
  color: var(--rose-dk);
  font-family: var(--font-title);
  font-size: 1.25rem;
    text-align: center;
  text-transform: uppercase;
}
