.mainContainer {
  height: fit-content;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, var(--frog-white), var(--frog-lt));
  border-radius: 1rem;
  box-shadow: 5px 5px 100px 5px var(--frog-dk);
  font-family: var(--font-text);
  margin: 1rem;
}

.title {
  color: var(--rose-dk);
  font-family: var(--font-title);
  margin: 1rem;
}

.title p {
  font-size: 1.5rem;
}

.title h1 {
  font-size: 3rem;
  text-align: center;
}

.imgContainer {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgContainer img {
  height: var(--image-circles-main);
  width: var(--image-circles-main);
  border-radius: 50%;
  box-shadow: 5px 5px 100px 5px var(--frog-white);
  margin: 1rem;
  object-fit: contain;
}

.imgContainer img:hover {
  transform: scale(1.1);
}

.imgContainer p {
  width: 20rem;
  color: var(--rose-dk);
  font-family: var(--font-title);
  font-size: 1rem;
  padding-left: 1rem;
  text-align: left;
}
