.navbar {
  position: sticky;
  top: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--rose-dk);
  margin: 0 auto;
  padding: 0.5rem;
  z-index: 20;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: var(--font-text);
  font-size: var(--navbar-font-size);
}

.navbar a:link {
  color: var(--frog-white);
  text-decoration: none;
}
.navbar a:visited {
  color: var(--gold);
  text-decoration: none;
}

.navbar a:active {
  color: var(--frog-dk);
}

.navbar li:hover {
  transform: scale(1.125);
}

.navbar img {
  height: var(--navbar-image-size);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-family: var(--font-text);
  margin: 0.5rem;
  padding: 0.5rem;
}

.search {
  height: 2rem;
  width: var(--navbar-search-width);
  border-radius: 0.5rem;
  font-family: var(--font-text);
}

.cartItemsContainer {
  position: relative; /* Ensures the number circle is positioned relative to this container */
  display: flex;
  align-items: center;
  justify-content: end;
}

.cartItemsNum {
  position: absolute; /* Position it on top of the cart icon */
  top: -5px; /* Adjust based on the icon size */
  right: -5px; /* Adjust based on the icon size */
  height: var(--navbar-cart-num-circle-size);
  width: var(--navbar-cart-num-circle-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gold);
  border-radius: 50%;
  color: var(--frog-black);
  font-family: var(--font-text);
  font-size: var(--navbar-font-size);
  font-weight: 600;
  opacity: 0.95;
  padding: 0.25rem;
  z-index: 10; /* Make sure the number stays on top */
}
