.navbar {
    height: fit-content;
    /* width: 100%; */
    background-color: var(--rose-lt);
    margin: 0;
    padding: 0.5rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: var(--font-text);
    font-size: 1rem;
}

.navbar a:link {
    color: var(--rose-dk);
    text-decoration: none;
}
.navbar a:visited {
    color: var(--frog-black);
    text-decoration: none;
}

.navbar a:active {
    color: var(--frog-dk);
}

.navbar li:hover {
    transform: scale(1.125);
}

.navbar img {
    height: 3rem;
    width: auto;
        display: flex;
    align-items: center;
    justify-content: center;
}