.mainContainer {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
  font-family: var(--font-title);
  text-transform: uppercase;
  margin: 1rem;
  padding: 0.5rem;
}

.noProductsFound {
  color: var(--frog-black);
}
