:root {
  --frog-dk: #313d25;
  --frog-lt: #bfcb99;
  --frog-lt-trans: #bfcb99a9;
  --frog-black: #060700;
  --frog-white: #dadcd1;
  --rose-dk: #be3b65;
  --rose-lt: #eda1ae;
  --gold-lt: #ffe463;
  --gold: #eec144;
  --white: #ffffff;

  --font-title: "Slackey", sans-serif;
  --font-text: "Rubik", sans-serif;
  --font-dinojama: "Barrio", system-ui;
  --font-jammy-mart: "Mystery Quest", system-ui;
  --font-mooshiDoo: "Hanalei Fill", system-ui;
  --font-plushies: "Matemasie", sans-serif;
  --font-spanko: "Bangers", system-ui;

  --font-size-title-regular: ;
  --font-size-title-grand: ;

  --width-card: 20rem;
  --width-main: auto;
  --margin-padding-main: 0.25rem;


}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: var(--frog-white);
  line-height: 1.5;
}

li {
  list-style: none;
}
